<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cybrary</title>
  <link rel="icon" href="/fav.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!-- JavaScript dependencies for Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{nav::nav}"></div>
<div class="jumbotron jumbotron text-white" style="background-image: url(https://img.freepik.com/premium-photo/modern-big-library-design-black-wooden-library-with-wooden-parquet-realistic-3d-rendering_626958-37.jpg); background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;">
  <div class="container">
    <h1 class="text-center display-3 mb-4">Welcome to Cybrary!</h1>
  </div>
</div>
<div class="container">
  <h2 class="display-5">Pick your next book to read!</h2>
  <p>Explore our wonderful world of fantasy!</p>
  <a href="/allBooks" class="btn btn-primary">See And Manage Books</a>
</div>
</body>
</html>
